@page
@model FactuSys.App.Frontend.Pages.CreateClienteModel
@{
}
<div class="container">
    <center><img class="mb-4" src="~/images/logo.jpeg" alt="" width="400" height="96"></center>
    <center>
        <h1>Registro de Clientes</h1>
    </center>
    <div class="row">
        <div class="col">
            <div class="shadow-lg p-3 mb-5 mt-4 bg-light rounded">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-3 position-relative my-3 mx-1">
                        <label for="identificacion" class="form-label">Identificacion</label>
                        <input id="identificacion" name="identificacion" type="text"
                            placeholder="Documento de identidad" class="form-control" required>
                        <!--"valid-feedback"-->
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-3 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input id="nombre" name="nombre" type="text" placeholder="Nombres" class="form-control"
                            required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-4 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Apellido</label>
                        <input id="apellido" name="apellido" type="text" placeholder="Apellidos" class="form-control"
                            required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-4 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Dirección</label>
                        <input id="direccion" name="direccion" type="text"
                            placeholder="Calle - Carrera - Avenida - Tranversal - Barrio - Ciudad" class="form-control"
                            required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-4 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Teléfono</label>
                        <input id="telefono" name="telefono" type="tel" placeholder="Teléfono fijo - Celular"
                            class="form-control" required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-4 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Email</label>
                        <input id="email" name="email" type="email" placeholder="ejemplo@factusys.com"
                            class="form-control" required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>
                    <div class="col-md-4 position-relative my-3 mx-1">
                        <label for="nombre" class="form-label">Fecha de Nacimiento</label>
                        <input id="fechaNacimiento" name="fechaNacimiento" type="date"
                            class="form-control" required>
                        <div class="valid-tooltip">Campo ok</div>
                        <div class="invalid-tooltip">Complete los datos</div>
                    </div>

                    <button type="submit" class="btn btn-primary d-grid gap-2 col-3 h-50">Registrar</button>


                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<!--Ingresamos el código de validación...-->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    } else {
                        alert("DATOS VALIDADOS.")
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>